<!DOCTYPE html>
{% extends 'index.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Details</title>
</head>
<body>





<!-- Add Department -->
		<section class="appointment">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>Employee Details</h2>
							<img src="{% static 'style/img/section-img.png' %}" alt="#">
							<p>Lorem ipsum dolor sit amet consectetur adipiscing elit praesent aliquet. pretiumts</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-12 col-12">

                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>
                            Name
                          </th>
                            <th>Designation</th>
                            <th>Department </th>
<!--                          <th>-->
<!--                            Email-->
<!--                          </th>-->
                          <th>
                            Phone
                          </th>
                            <th>Qualifications</th>
<!--                            <th>Action</th>-->

                        </tr>
                      </thead>
                      <tbody>
                      {% for d in data %}
                      <tr>

                        <td>{{d.Name}}</td>
                          <td>{{d.Type}}</td>
                          <td>{{d.Department}}</td>

<!--                        <td>{{d.Email}}</td>-->
                          <td>{{d.Phone}}</td>
                          <td>{{d.Qualifications}}</td>
                          <td>
                              <a href="{% url 'delete_staff' staff_id=d.id %}"><button style="border-radius:8px;  color:blue">EDIT</button></a>
                              <a href="{% url 'delete_staff' staff_id=d.id %}"><button style="border-radius:8px;  color:red">DELETE</button></a>
                            </td>
<!--                          <td>{{d.HOD}}</td>-->


<!--                        <td><img src="{{d.Image.url}}"></td>-->


                      </tr>
                        {% endfor %}

                      </tbody>
                    </table>





<!--						<form class="form" action="{%  url 'add_staff_save' %}" method="post">-->
<!--							{% csrf_token %}-->
<!--							<div class="row">-->
<!--								<div class="col-lg-6 col-md-6 col-12">-->
<!--									<div class="form-group">-->
<!--										<input name="name" type="text" placeholder="Employee Name">-->
<!--									</div>-->
<!--								</div>-->
<!--								<div class="col-lg-6 col-md-6 col-12">-->
<!--									<div class="form-group">-->
<!--										<input name="email" type="email" placeholder="Email">-->
<!--									</div>-->
<!--								</div>-->
<!--								<div class="col-lg-6 col-md-6 col-12">-->
<!--									<div class="form-group">-->
<!--										<input name="phone" type="text" placeholder="Phone">-->
<!--									</div>-->
<!--								</div>-->
<!--								<div class="col-lg-6 col-md-6 col-12">-->
<!--									<div class="form-group">-->
<!--										<div class="nice-select form-control wide" tabindex="0"><span class="current">Type</span>-->

<!--											<ul class="list" name="type">-->
<!--												<li data-value="1" class="option selected ">Employee Class</li>-->
<!--												<li data-value="2" class="option">Doctor</li>-->
<!--												<li data-value="3" class="option">Nurse</li>-->
<!--												<li data-value="4" class="option">Attender</li>-->
<!--												<li data-value="5" class="option">Security</li>-->
<!--												<li data-value="5" class="option">Lab Attender</li>-->
<!--												<li data-value="5" class="option">Pharmacist</li>-->
<!--												<li data-value="5" class="option">Cleaning Team</li>-->
<!--											</ul>-->
<!--										</div>-->
<!--									</div>-->
<!--								</div>-->
<!--								<div class="col-lg-6 col-md-6 col-12">-->
<!--									<div class="form-group">-->
<!--										<div class="nice-select form-control wide" tabindex="0"><span class="current" name="Department">Department</span>-->
<!--											<ul class="list">-->
<!--												<li data-value="1" class="option selected ">HOD</li>-->
<!--												<li data-value="2" class="option">Cardiology</li>-->
<!--												<li data-value="3" class="option">Dr. Dery Alex</li>-->
<!--												<li data-value="4" class="option">Dr. Jovis Karon</li>-->
<!--											</ul>-->


<!--										</div>-->
<!--									</div>-->
<!--								</div>-->
<!--								<div class="col-lg-6 col-md-6 col-12">-->
<!--									<div class="form-group">-->
<!--										<input type="text" placeholder="Date" id="datepicker" name="date">-->
<!--									</div>-->
<!--								</div>-->
<!--								<div class="col-lg-12 col-md-12 col-12">-->
<!--									<div class="form-group">-->
<!--										<textarea name="message" placeholder="Description about the department Here....."></textarea>-->
<!--									</div>-->
<!--								</div>-->
<!--							</div>-->
<!--							<div class="row">-->
<!--								<div class="col-lg-5 col-md-4 col-12">-->
<!--									<div class="form-group">-->
<!--										<div class="button">-->
<!--											<button type="submit" class="btn">Add Staff</button>-->
<!--										</div>-->
<!--									</div>-->
<!--								</div>-->
<!--								<div class="col-lg-7 col-md-8 col-12">-->
<!--									<p>(Admin council will confirm by an email)</p>-->
<!--								</div>-->
<!--							</div>-->
<!--						</form>-->
					</div>
<!--					<div class="col-lg-6 col-md-12 ">-->
<!--						<div class="appointment-image">-->
<!--							<img src="{% static 'style/img/contact-img.png' %}" alt="#">-->
<!--						</div>-->
<!--					</div>-->
				</div>
			</div>
		</section>
		<!-- End Add Department -->






</body>
</html>
{% endblock %}